<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="resources/css/estilos.css" rel="stylesheet" type="text/css">    
    <link rel="stylesheet" href="resources/css/estilos_registro.css">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Mis Citas</title>
</head>
<body>
    <script src="resources/js/menu.js"></script>
    <nav class="menu">
        <label class="logo">Clinica PS</label>
        <ul class="menu_items">
            <li class="active"><a href="">Inicio</a></li>
            <li><a href="login">Ingresar</a></li>
            <li><a href="register">Registrarse</a></li>
            <li><a href="citas">Citas</a></li>
            <li><a href="contacto">Contacto</a></li>
        </ul>
        <span class="btn_menu">
            <i class="fa fa-bars"></i>
        </span>
    </nav>
            <section style="text-align: center; height: 600px; padding-top: 50px;">
               <h1>Cita, registrada con exito</h1>
               <div class="button">
                <a href="cliente" class="btn btn-secondary">Volver</a>
            </div>
                 
        </section>



     <!--FOOTER-->
     <footer class="footer">
        <div class="footer-left">
            <label class="logo-footer">Clinica PS</label>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam quibusdam accusamus 
                voluptatibus sapiente vitae</p>
        <div class="socials">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-youtube"></i></a>
        </div>
        </div>
        </div>
        <ul class="footer-right">
            <li>
                <h4>Consultas</h4>
                <ul class="box">
                    <li><a href="#">Odontología</a></li>
                    <li><a href="#">oftalmología</a></li>
                    <li><a href="#">Medicina General</a></li>
                    <li><a href="#">Cirugía</a></li>
                </ul>
            </li>
            <li class="features">
                <h4>Elaborado por:</h4>
                <ul class="box">
                    <li>Albin Ramirez</li>
                    <li>Andres Castillo</li>
                    <li>German Matheus</li>
                    <li>Johan Struve</li>
                </ul>
            </li>
            <li>
                <h4>Dirección</h4>
                <ul class="box">
                    <li>Venezuela</li>
                    <li>Maracaibo, estado Zulia</li>
                    <li>Año 2021, Ing. del Software URBE</li>
                </ul>
            </li>
        </ul>
        <div class="footer-bottom">
            <p>Todos los derechos reservados por &copy; Urbe 2021</p>
        </div>
      </footer>

      <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
      <% if(typeof alert != "undefined") { %>
        <script>
            Swal.fire({
                title: '<%=  alertTitle %>',
                text: '<%= alertMessage %>',
                icon: '<%= alertIcon %>',
                showConfirmButton: <%= showConfirmButton %>,
                timer: <%= timer %>
            }).then(()=>{
                window.location = '/misCitas <%= ruta %>'
            })
            <% } %>
</body>
</html>